<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{ site.url }}{{ site.baseurl }}">
            {% if site.logo_dark %}
                <img src="{{ site.baseurl }}{{ site.logo_dark }}" alt="{{ site.title }} icon" />
            {% endif %}
            <span>{{ site.title }}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ page.title }}</div>
    <div class="floating-header-share">
        <!-- Sidebar Toggle Button -->
        <button class="toc-toggle" id="toc-toggle">☰ 목차</button>

        <!-- Table of Contents Sidebar -->
        <aside class="toc" id="toc-sidebar">
            <nav>
                {% include toc.html html=content %}
            </nav>
        </aside>
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
